.btnsAction{
    width: 20%;
    height: 5em;
}

.btnIniciarSessao{
    margin-top: 10%;
}

.headerRow{
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.inputFields {
    margin:auto;
    width: 70%;
}

.loginButton{
    height: 50px;
}

.native-input.sc-ion-input-md{
    height: 200px !important;
}


